<% content_for :breadcrumbs do %>
  <%= render SulViewComponent::Elements::BreadcrumbNavComponent.new do |component| %>
    <% component.with_breadcrumb(text: 'Dashboard', link: root_path) %>
    <% if current_page?(action: :new) %>
      <% component.with_breadcrumb(text: 'New Channel') %>
    <% else %>
      <% component.with_breadcrumb(text: @channel.title, active: true) %>
    <% end %>
  <% end %>
<% end %>

<div class="d-flex justify-content-between">
  <div>
    <%= render SulViewComponent::Elements::HeadingComponent.new(level: :h2, text: @channel.title, classes: 'mb-4 d-inline-block') %>
  </div>
  <div class="d-flex justify-content-start">
    <%= render SulViewComponent::Elements::ButtonLinkComponent.new(link: new_channel_path, label: 'Download Report', variant: :primary, classes: 'mb-4') %>
  </div>
</div>

<%= render SulViewComponent::Elements::Tables::TableComponent.new(
      id: 'videos', label: 'Videos', show_label: false, body_classes: 'video_list'
    ) do |component| %>
  <% component.with_header(
       headers: ['Title', 'Duration', 'Views', 'Captioned'] # , 'ASR Languages', 'Edited Languages']
     ) %>
  <% @channel.videos.each do |video| %>
    <% component.with_row(values: [
        link_to(video.title, video_path(video_id: video.video_id)),
        DurationPresenter.new(duration: video.duration).translate,
        video.view_count,
        video.captioned?
      ],
      id: video.video_id,
      classes: video.display_class) %>
  <% end %>
<% end %>
