<% content_for :breadcrumbs do %>
  <%= render Elements::BreadcrumbNavComponent.new do |component| %>
    <% component.with_breadcrumb(text: 'Dashboard', link: root_path) %>
    <% if current_page?(action: :new) %>
      <% component.with_breadcrumb(text: 'New Channel') %>
    <% else %>
      <% component.with_breadcrumb(text: @channel.title, active: true) %>
    <% end %>
  <% end %>
<% end %>

<div class="d-flex justify-content-between">
  <div>
    <%= render Elements::HeadingComponent.new(level: :h2, text: @channel.title, classes: 'mb-4 d-inline-block') %>
  </div>
  <div class="d-flex justify-content-start">
    <%= render Elements::ButtonLinkComponent.new(link: report_channel_path(channel_id: @channel.channel_id), label: 'Run Report', variant: :primary, classes: 'mb-4') %>
  </div>
</div>

<%= render Elements::Tables::TableComponent.new(
      id: 'videos', label: 'Videos', show_label: false, body_classes: 'video-list'
    ) do |component| %>
  <% component.with_headers([
                              { label: 'Title' },
                              { label: 'Duration' },
                              { label: 'Views' },
                              { label: 'Captioned' },
                              { label: 'Published' }
                            ]) %>
  <% @channel.videos.each do |video| %>
    <% component.with_row(values: [
                            link_to(video.title, video_path(video_id: video.video_id)),
                            DurationPresenter.new(duration: video.duration).translate,
                            video.view_count,
                            video.captioned?,
                            video.published_date&.strftime('%m/%d/%Y')
                          ], id: video.video_id) %>
  <% end %>
<% end %>
