<li class="nav-item dropdown">
  <% if helpers.current_user.present? %>
    Logged in: <%= helpers.current_user.name || helpers.current_user.sunetid %>
  <% else %>
    <%= link_to 'Login', login_path(referrer: request.original_url), class: 'nav-link' %>
  <% end %>
</li>
