<div class="d-flex justify-content-between">
  <div>
    <%= render SulViewComponent::Elements::HeadingComponent.new(level: :h2, text: title, classes: 'mb-4 d-inline-block') %>
    <%= render SulViewComponent::Elements::ButtonLinkComponent.new(link: new_channel_path, label: 'Refresh', variant: :primary, classes: 'ml-auto text-nowrap h-50') %>
    <%= render SulViewComponent::Elements::ButtonLinkComponent.new(link: new_channel_path, label: 'Download Report', variant: :primary, classes: 'ml-auto text-nowrap h-50') %>
  </div>
</div>
